.ant-row.ant-form-item{
	margin-bottom: 4px;
}

.leader-page-wrapper{
    margin: 0%;
}
.leader-page-wrapper h2{
    text-align: center;
}
.evaluation-container {
    margin-top: 0%;
    width: 100vw;
    height: 100vh;
}

.control-container {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #DADADA;
    margin-right: 0%;
}

.evalgraph-container {
    /* margin-left: 5vw;*/
    margin-top: 5vh;
    margin-right: 5vw;
    width: 60vw;
}

@media only screen and (max-width: 600px) {
.evalgraph-container {
    width: 95vw;
}
}

.evalmap-container {
    margin-top: 2vh;
    margin-left: 2vw;
}

.ranking-table-container {
    width: 80vw;
}

.class {
    width: 100vw;
    height: 100vw;
}

/*
.grid {
    align-content: center;
    padding: 0px 20px;
}

h1.title {
    padding-top: 50px;
    text-align: center;
    font-size: 22px;
}

h2.title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.graph {
    width: 100%;
}

.model-name {
    font-size: 14px;
}


.content {
    width: 96px;
    height: 72px;
    text-align: center;
}

.rank-number {
    height: 40px;
}

.score {
    font-size: 20px;
    color: #FC9F4D;
}

.score-description {
    font-size: 10px;
}

.clarification {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}


.disclaimer {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 14px;
    font-style:italic;
    color: #787D7B;
}

.main-graph-container {
    padding-left: 20%;
    padding-right: 20%;
    margin: 40px 20px;
}
*/